# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

# Only upload dist directory
*
!dist/**

.gcloudignore
.git
.gitignore
node_modules/
src/
test/
webpack*.js
tsconfig*.json
